@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Lato", sans-serif;
  position: relative;
}

.news-cycle-regular {
  font-family: "News Cycle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.news-cycle-bold {
  font-family: "News Cycle", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.tokenGradient {
  background-image: linear-gradient(
    90deg,
    hsl(49deg 100% 85%) 0%,
    hsl(48deg 100% 90%) 7%,
    hsl(48deg 100% 94%) 14%,
    hsl(47deg 100% 98%) 20%,
    hsl(47deg 64% 98%) 26%,
    hsl(47deg 65% 93%) 32%,
    hsl(48deg 67% 87%) 37%,
    hsl(49deg 68% 80%) 44%,
    hsl(48deg 72% 80%) 52%,
    hsl(48deg 77% 83%) 63%,
    hsl(47deg 86% 86%) 78%,
    hsl(46deg 100% 90%) 100%
  );
}

.bgGradient {
  background-image: linear-gradient(
    90deg,
    hsl(240deg 26% 17%) 0%,
    hsl(232deg 30% 17%) 9%,
    hsl(225deg 34% 17%) 18%,
    hsl(220deg 39% 17%) 27%,
    hsl(220deg 34% 17%) 36%,
    hsl(219deg 30% 17%) 45%,
    hsl(219deg 26% 17%) 55%,
    hsl(219deg 30% 17%) 64%,
    hsl(220deg 34% 17%) 73%,
    hsl(220deg 39% 17%) 82%,
    hsl(225deg 34% 17%) 90%,
    hsl(232deg 30% 17%) 96%,
    hsl(240deg 26% 17%) 100%
  );
}

.bgGradientTwo {
  background-image: linear-gradient(
    180deg,
    hsl(240deg 26% 17%) 0%,
    hsl(233deg 29% 17%) 16%,
    hsl(227deg 33% 17%) 28%,
    hsl(223deg 36% 17%) 37%,
    hsl(220deg 39% 17%) 43%,
    hsl(220deg 39% 17%) 48%,
    hsl(220deg 39% 17%) 53%,
    hsl(220deg 39% 17%) 58%,
    hsl(223deg 36% 17%) 64%,
    hsl(227deg 33% 17%) 72%,
    hsl(233deg 29% 17%) 84%,
    hsl(240deg 26% 17%) 100%
  );
}

.modalGradient {
  background-image: linear-gradient(
    45deg,
    hsl(45deg 22% 48%) 0%,
    hsl(44deg 21% 58%) 15%,
    hsl(43deg 22% 68%) 27%,
    hsl(42deg 23% 79%) 36%,
    hsl(42deg 23% 89%) 44%,
    hsl(0deg 0% 100%) 49%,
    hsl(42deg 23% 89%) 54%,
    hsl(42deg 23% 79%) 60%,
    hsl(43deg 22% 68%) 66%,
    hsl(44deg 21% 58%) 75%,
    hsl(45deg 22% 48%) 100%
  );
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient-title {
  background: linear-gradient(270deg, #ac74ff, #ffc5c5, #ac74ff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 5s ease infinite;
}
.animated-gradient-text {
  background: linear-gradient(270deg, #fffffe, #ffffa5, #ffffff, #ffffa5);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2.5s ease infinite;
}
.animated-gradient-modal-text {
  background: linear-gradient(270deg, #ffb026, #a229ff, #ffb026);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s ease infinite;
}
.animated-gradient-x {
  background: linear-gradient(270deg, #28C6BA, #ffffa5, #28C6BA);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s ease infinite;
}

.spinnerGradient {
  background-image: linear-gradient(
    90deg,
    hsl(49deg 100% 85%) 0%,
    hsl(48deg 100% 90%) 7%,
    hsl(48deg 100% 94%) 14%,
    hsl(47deg 100% 98%) 20%,
    hsl(47deg 64% 98%) 26%,
    hsl(47deg 65% 93%) 32%,
    hsl(48deg 67% 87%) 37%,
    hsl(49deg 68% 80%) 44%,
    hsl(48deg 72% 80%) 52%,
    hsl(48deg 77% 83%) 63%,
    hsl(47deg 86% 86%) 78%,
    hsl(46deg 100% 90%) 100%
  );
  color: transparent !important;
}
